* {
  font-family: 'Roboto', Helvetica, sans-serif;
  border: 1px solid white;
}

body {
  background-color: #191765;
}

#header_list {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

#company {
  font-size: 18px;
}

#presentation {
  display: flex;
  justify-content: center;
}

#pres {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 327px;
  text-align: center;
}
#name {
  font-size: 48px;
  color: #7D73FC;
  font-weight: 700;
}

#position {
  font-size: 32px;
  font-weight: 500;
  color: #EDECFF;
}

#descr {
  font-size: 20px;
  font-weight: 400;
  color: #C8C8D4;
}

#qualif {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.qualif_title {
  font-size: 12px;
  font-weight: 500;
  color: #9490FF;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.qualif_item {
  font-size: 15px;
  font-weight: 400;
  color: #F5F5FF;
}

.skills {
  align-self: flex-start;
}