* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-style: normal;
}

body {
  background-color: #191765;
  width: 375px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #fff;
}

a:hover,
a:active {
  color: #9490ff;
}

button {
  padding: 12px;
  background-color: #7d73fc;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  color: #fff;
  box-shadow: 0px 8px 16px #7d73fc7a;
}

button:active {
  background-color: #5e42d7;
  color: #eaeaf6;
}

button:disabled {
  background-color: #2a2b33;
  color: #c8c8d4;
}

hr {
  border: 1px solid #646369;
  width: 327px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.ffinter {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-style: normal;
}

.theme43 {
  color: #9490ff;
}

.theme44 {
  color: #edecff;
}

.themefff {
  color: #fff;
}

.ellipse_01 {
  background-image: url(images/Ellipse\ 18.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.ellipse_02 {
  background-image: url(images/Ellipse\ 19.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.ellipse_03 {
  background-image: url(images/new_Ellipse\ 19.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.ellipse_04 {
  background-image: url(images/Ellipse\ 20.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.ellipse_05 {
  background-image: url(images/Ellipse\ 21.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.ellipse_06 {
  background-image: url(images/Ellipse\ 22.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  margin: 30px 24px 0px;
}

.company {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.03em;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.menu {
  display: flex;
  align-items: center;
  text-align: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 0px 28px;
}

.name {
  width: 327px;
  height: 55px;
  font-size: 48px;
  color: #7d73fc;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.position {
  width: 327px;
  height: 87px;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.qualification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px 0px;
}

.descr {
  width: 327px;
  height: 170px;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.qualif_table {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 327px;
  margin: 30px 0px;
}

.qualif_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 155px;
}

.qualif_title {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  line-height: 24px;  
  align-items: flex-start;
  width: 50%;
  height: 16px;
  letter-spacing: 0.03em;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.qualif_title.language {
  width: 107px;
}

.qualif_title.frameworks {
  width: 140px;
}

.qualif_title.skills {
  width: 106px;
}

.qualif_item {
  font-size: 15px;
  color: #f5f5ff;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.links {
  margin: 58px 0px;
}

.links_group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.next {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  color: #a2a3ae;
  align-items: center;
}

.next_section {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.work_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent_work {
  font-size: 40px;
  width: 327px;
  line-height: 52px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 33px;
}

.project {
  background-repeat: no-repeat;
}

.proj {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin: 48px 0px 0px;
  width: 327px;
  margin: 40px 24px 0px;
}

.proj_img {
  width: 100%;
  height: auto;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.proj_title {
  font-size: 32px;
  align-self: flex-start;
  width: 327px;
  height: 105px;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.proj_txt {
  font-size: 20px;
  color: #dcdce8;
  width: 327px;
  height: 204px;
  line-height: 28px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.proj_group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.proj_lang {
  font-size: 15px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.vl {
  border-left: 1px solid #555;
  height: 40px;
}

.proj_button {
  margin-top: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 24px 0px 0px;
  padding: 12px;
  width: fit-content;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact_group {
  display: flex;
  flex-direction: column;
  width: 327px;
  margin: 120px 24px 0px;
}

.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact_title {
  font-size: 32px;
  color: #9390ff;
  height: 35px;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.contact_text {
  font-size: 16px;
  color: #f5f5ff;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px 0px;
}

.input_text {
  font-size: 15px;
  color: #81818c;
  margin-top: 40px;
  height: 48px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.input_email {
  font-size: 15px;
  color: #191765;
  margin-top: 24px;
  height: 48px;
  line-height: 24px;
  display: flex;
  align-items: center;
  background: #f7f3ff;
  border: 1px solid #9490FF;
  box-sizing: border-box;
}

.input_msg {
  height: 148px;
  margin-top: 24px;
  line-height: 24px;
}

.contact_button {
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 71px;
  align-self: center;
}

.contact_row {
  margin: 0px 0px 25px;
  width: 100%;
  color: #3a3837;
}

.email {
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  line-height: 28px;
}

.contact_end_row {
  border: 2px solid black;
  border-radius: 5px;
  width: 125px;
  margin: 27px 120px;
}
